<div class="vp-password">

  @if (label) {

  <label class="vp-password__label">

    {{ label }}

    @if (required) {
    <span>*</span>
    }

  </label>

  }

  <div class="vp-password__wrapper" [class.error]="!!error" [class.disabled]="disabled">

    <vp-icon name="lock" [size]="20">
    </vp-icon>

    <input [type]="hidePassword ? 'password' : 'text'" [placeholder]="placeholder" [disabled]="disabled"
      [readonly]="readonly" [value]="value" (input)="onInput($event)" (blur)="onBlur()">

    <button type="button" class="vp-password__toggle" (click)="togglePassword()">

      <vp-icon [name]="hidePassword ? 'visibility_off' : 'visibility'" [size]="20">
      </vp-icon>

    </button>

  </div>

  @if (showStrength) {

  <div class="vp-password__strength">

    <div class="vp-password__bars">

      <div class="bar" [class.active]="score >= 1" [class]="strengthClass">
      </div>

      <div class="bar" [class.active]="score >= 2" [class]="strengthClass">
      </div>

      <div class="bar" [class.active]="score >= 3" [class]="strengthClass">
      </div>

      <div class="bar" [class.active]="score >= 4" [class]="strengthClass">
      </div>

    </div>

    <span class="vp-password__label-strength" [class]="strengthClass">

      {{ strengthLabel }}

    </span>

  </div>

  }

  @if (error) {

  <small class="vp-password__error">

    {{ error }}

  </small>

  } @else if (hint) {

  <small class="vp-password__hint">

    {{ hint }}

  </small>

  }

</div>
