body {
  background: var(--vp-bg);

  color: var(--vp-text);

  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--vp-border);

  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: var(--vp-bg);
}
